on:
  pull_request:
  push:
    branches: [main]

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Self test action correct checksum
        uses: ./
        with:
          version: '2.23.0'
          checksum: 'b5dec48ca1848cec8323816414830ea87edd3178ef5686c71946020a36cd5a61'
      - name: Run CodeQL binary
        run: codeql --version
      - name: Self test action incorrect checksum
        uses: ./
        with:
          version: '2.23.0'
          checksum: 'b5dec48ca1848cec8323816414830ea87edd3178ef5686c71946020a36cd5a62'
        continue-on-error: true
      - name: Error on success
        if: success()
        run: exit 1
